<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/common_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/calendar_style.css' %}">

</head>

<body>
    {% include 'navbar.html' %}

    <p>CALENDAR PAGE </p>

    <div class = "calendar_box" id = "month_name">
        <h2>Month</h2>
        <div class = "grid_box" id = "calendar_grid">
            <p>Sunday</p>
            <p>Monday</p>
            <p>Tuesday</p>
            <p>Wednesday</p>
            <p>Thursday</p>
            <p>Friday</p>
            <p>Saturday</p>
        <!--day numbers of the month will be displayed through the script and according to the user's local device dates (realtime)-->
        </div>



    </div>

    <script src="{% static 'javascript/calendar_script.js' %}" defer></script>


</body>
</html>