<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'navbar.html' %}
    <meta charset="UTF-8">

    <title>Personal Journal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/journal_style.css' %}">

</head>

<body>

<!--Centers Content with Navbar-->
<div class="center_journal">

    <button type="button" class="button"><a href="{% url 'viewJournalEntries' %}">View Your Journal Entries</a></button>

        <img src="/staticfiles/images/blue_open_notebook.png" alt="notebook background" width = 100%>

        <!-- Add Journal Entry Form -->
        <form method="POST">
            {% csrf_token %}
{#            {{ entry_form.as_p }}#}

            {% for field in entry_form %}
                <div>
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    <!-- Skip rendering error messages -->
                </div>
            {% endfor %}

            <button type="submit">Save Entry</button>
        </form>









</div>

</body>
</html>