<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'navbar.html' %}
    <meta charset="UTF-8">

    <title>Personal Journal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/journal_style.css' %}">

</head>

<body>

<!--Centers Content with Navbar-->
<div class="center_journal">

    <button type="button" class="button"><a href="{% url 'viewJournalEntries' %}">View Your Journal Entries</a></button>

        <img src="/staticfiles/images/blue_open_notebook.png" alt="notebook background" width = 100%>

    <div class="container">

        <!-- Add Journal Entry #1 Form -->
        <div class="form1">
            <form action="{% url 'add_entry' %}" method="POST">
                {% csrf_token %}
                <button type="submit">Save Entry</button>
            </form>
            {% for field in entry_form %}
                <div>
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    <!-- Skip rendering error messages -->
                </div>
            {% endfor %}
        </div>


        <!-- Add Journal Entry #2 Form -->
        <div class="form2">
            <form action="{% url 'add_entry' %}" method="POST">
                {% csrf_token %}
                <button type="submit">Save Entry</button>
            </form>
            {% for field in entry_form %}
                <div>
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    <!-- Skip rendering error messages -->
                </div>
            {% endfor %}
        </div>




    </div>










</div>

</body>
</html>