{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nav Bar</title>
    <link rel ="stylesheet" href="{% static 'css/navBar_style.css ' %}">{# link to styling #}
</head>
<body>

<nav>
{# Top navigation bar with home and log out#}
{#Home/calender button#}
    <div class="topNav">
  <a class href={% url 'index' %}>Home</a>

{#Log out link and styles#}
  <div class="topNav-right">
    <a href="{% url 'user_logout' %}">Log out</a>
  </div>

</div>

{# Side navigation bar#}
  <ul>
  <li><a href="{% url 'Todo_list' %}">To do list</a></li>{# active means that you are on the page #}
  <li><a href="#Daily schedule">Daily schedule</a></li>
</ul>


</nav>




</body>
</html>