{% include 'navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>To do list</title>
    <link rel="stylesheet" href="{% static 'css/toDoList_style.css ' %}">
    <link rel="stylesheet" href="{% static 'css/common_style.css ' %}">
    {#link to styling#}

</head>

<body>
<div class="main_content">
    <h1>Todo list</h1>

    {#------------ Create new list -------------------#}
    {# ---- pop up button ------#}
    <button class="btn" onclick="newList.showModal()">New List</button>

    {#--------- Create new task ---------#}
    {# ---- pop up button ------#}
    <button class="btn" onclick="newTask.showModal()">New Task</button>

    {#--------- Delete list ---------#}
    <!-- Delete tasks pop up button -->
    <button class="btn" onclick="deleteLists.showModal()">Delete List</button>

    {#--------- Delete task ---------#}
    <!-- Delete tasks pop up button -->
    <button class="btn" onclick="deleteTasks.showModal()">Delete Tasks</button>


    {# ------------ Display list ------------#}
    <div class="list-grid">
        {% for TD_list in lists %}
            <div class="list-name"><h2><u><b> {{ TD_list.List_name }} </b></u></h2></div>{# list title #}

            {# ------------ Display tasks for each lists ------------#}
            {% for Tasks in task %}

                {% if Tasks.list.List_name == TD_list.List_name %}
                    <ul>

                        {% if Tasks.completed == True %}
                            <button onclick="location.href='{% url 'Toggle_task' Tasks.id %}'"
                                    class="action-link">☑
                            </button>
{#   Right click menu #}

                            {# If its top priority it turns red #}
                            {% if Tasks.Important == True %}
                                <li class = "goals" style="color: #b11d1d; display: inline-block"><s>{{ Tasks.description }}</s></li>
                                <form style="display: inline-block" action="{% url 'update_goal' Tasks.id %}"
                                      method="get">
                                    <button><img class="button_image_style"
                                                               src="/staticfiles/images/edit-Icon.png"
                                                               alt="Edit button"></button>
                                </form>

                                {# Delete task  #}
                                <form style="display: inline-block" action="{% url 'delete_task' Tasks.id %}"
                                      method="get">
                                    <button ><img class="button_image_style"
                                                               src="/staticfiles/images/delete-icon.png"
                                                               alt="Delete button "></button>
                                </form>
                            {% else %}
                                <li  class = "goals" style="display: inline-block"><s>{{ Tasks.description }}</s></li>
                                {#                                   Update task#}
                                <form style="display: inline-block" action="{% url 'update_goal' Tasks.id %}"
                                      method="get">
                                    <button ><img class="button_image_style"
                                                               src="/staticfiles/images/edit-Icon.png"
                                                               alt="Edit button"></button>
                                </form>

                                {# Delete task  #}
                                <form style="display: inline-block" action="{% url 'delete_task' Tasks.id %}"
                                      method="get">
                                    <button type="submit"><img class="button_image_style"
                                                               src="/staticfiles/images/delete-icon.png"
                                                               alt="Delete button "></button>
                                </form>



                            {% endif %}

                        {% else %}
                            <button onclick="location.href='{% url 'Toggle_task' Tasks.id %}'"
                                    class="action-link">☐
                            </button>
                            {% if Tasks.Important == True %}
                                <li class="goals" style="color: #b11d1d; display: inline-block;">{{ Tasks.description }}</li>

                                {#   Update task#}
                                <form style="display: inline-block" action="{% url 'update_goal' Tasks.id %}"
                                      method="get">
                                    <button ><img class="button_image_style"
                                                               src="/staticfiles/images/edit-Icon.png"
                                                               alt="Edit button"></button>
                                </form>

                                {# Delete task  #}
                                <form style="display: inline-block" action="{% url 'delete_task' Tasks.id %}"
                                      method="get">
                                    <button type="submit"><img class="button_image_style"
                                                               src="/staticfiles/images/delete-icon.png"
                                                               alt="Delete button "></button>
                                </form>

                            {% else %}
                                <li class="goals" style="display: inline-block">{{ Tasks.description }}</li>

                                {#                                    Update task#}
                                <form style="display: inline-block" action="{% url 'update_goal' Tasks.id %}"
                                      method="get">
                                    <button type="submit"><img class="button_image_style"
                                                               src="/staticfiles/images/edit-Icon.png"
                                                               alt="Edit button"></button>
                                </form>

                                {# Delete task  #}
                                <form style="display: inline-block" action="{% url 'delete_task' Tasks.id %}"
                                      method="get">
                                    <button type="submit"><img class="button_image_style"
                                                               src="/staticfiles/images/delete-icon.png"
                                                               alt="Delete button "></button>
                                </form>

                            {% endif %}

                        {% endif %}
                    </ul>
                {% endif %}
                 <div id="EventRightClickMenu" class="EventRightClickMenu" >
                                <ul>
                                    <li><a href="{% url 'update_goal' Tasks.id %}">Edit</a></li>
                                    <li><a href="{% url 'delete_task' Tasks.id %}" onclick="return confirm('Are you sure you want to delete this event?');">Delete</a></li>
                                    <li><a href="#">View More</a></li>
                                </ul>

                            </div>
            {% endfor %}
        {% endfor %}
    </div>

    {#------------ Create new list -------------------#}
    {#----- pop up --------#}
    <dialog id="newList" class="modal">
        <div class="modal-box">
            {# ---- list Form -----  #}
            <h3>New List</h3>{# Title #}
            <form method="post" action="{% url 'create_list' %}">
                {% csrf_token %}
                {{ listForm.as_p }}
                <input type="submit">
            </form>

            <div class="modal-action">
                <form method="dialog">
                    <button class="btn">Close</button>
                </form>
            </div>
        </div>
    </dialog>


    {#--------- Create new task ---------#}
    {#----- pop up --------#}
    <dialog id="newTask" class="modal">
        <div class="modal-box">
            <div class="test">
                {# ---- task Form -----  #}
                <h3>New Task</h3>{# Title #}
                <form method="post" action="{% url 'create_task' %}">
                    {% csrf_token %}
                    {{ taskForm.as_p }}
                    <input type="submit">
                </form>
                <div class="modal-action">
                    <form method="dialog">
                        <button class="btn">Close</button><!-- Close button -->
                    </form>
                </div>
            </div>
        </div>
    </dialog>


    {#------------ Delete Tasks -------------------#}
    {#----- pop up --------#}
    <dialog id="deleteTasks" class="modal">
        <div class="modal-box">

            {# --------- Display all tasks -----  #}
            <h3>Delete Task</h3> {# Title #}

            {% for Tasks in task %}
                {{ Tasks.description }}<br>
                <a href="{% url 'delete_task' Tasks.id %}" class="action-link">Delete</a><br><br>
            {% endfor %}
            <div class="modal-action">
                <form method="dialog">
                    <br>
                    <button class="btn">Close</button>
                </form>
            </div>
        </div>
    </dialog>


    {#------------ Delete Lists -------------------#}
    {#----- pop up --------#}
    <dialog id="deleteLists" class="modal">
        <div class="modal-box">

            {# --------- Display all Lists -----  #}
            <h3>Delete List</h3> {# Title #}

            {% for Lists in lists %}
                <br>{{ Lists.List_name }}<br>
                <a href="{% url 'delete_list' Lists.id %}" class="action-link">Delete</a><br>
            {% endfor %}
            <div class="modal-action">
                <form method="dialog">
                    <br>
                    <button class="btn">Close</button>
                </form>
            </div>
        </div>
    </dialog>



<script src="{% static 'javascript/RighClickMenu_script.js' %}" defer></script>



</div>
</body>
</html>