<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Goals</title>
</head>
<body>


{# ------------ Display list ------------#}
    <div class="list-grid">
        {% for TD_list in lists %}
            <div class="list-name"><h2><u><b> {{ TD_list.List_name }} </b></u></h2></div>{# list title #}

            {# ------------ Display tasks for each lists ------------#}
            {% for Tasks in task %}
                {% if Tasks.list.List_name == TD_list.List_name %}
                    <ul>

                        {% if Tasks.completed == True %}
                            <button onclick="location.href='{% url 'Toggle_task' Tasks.id %}'"
                                    class="action-link">☑
                            </button>

                            {# If its top priority it turns red #}
                            {% if Tasks.Important == True %}
                                <li style="color: #b11d1d; display: inline-block"><s>{{ Tasks.description }}</s></li>
                                Update task
                                <form style="display: inline-block" action="{% url 'update_goal' Tasks.id %}"
                                      method="get">
                                    <button><img class="button_image_style"
                                                               src="/staticfiles/images/edit-Icon.png"
                                                               alt="Edit button"></button>
                                </form>

                                {# Delete task  #}
                                <form style="display: inline-block" action="{% url 'delete_task' Tasks.id %}"
                                      method="get">
                                    <button ><img class="button_image_style"
                                                               src="/staticfiles/images/delete-icon.png"
                                                               alt="Delete button "></button>
                                </form>
                            {% else %}
                                <li style="display: inline-block"><s>{{ Tasks.description }}</s></li>
                                {#                                   Update task#}
                                <form style="display: inline-block" action="{% url 'update_goal' Tasks.id %}"
                                      method="get">
                                    <button ><img class="button_image_style"
                                                               src="/staticfiles/images/edit-Icon.png"
                                                               alt="Edit button"></button>
                                </form>

                                {# Delete task  #}
                                <form style="display: inline-block" action="{% url 'delete_task' Tasks.id %}"
                                      method="get">
                                    <button type="submit"><img class="button_image_style"
                                                               src="/staticfiles/images/delete-icon.png"
                                                               alt="Delete button "></button>
                                </form>



                            {% endif %}

                        {% else %}
                            <button onclick="location.href='{% url 'Toggle_task' Tasks.id %}'"
                                    class="action-link">☐
                            </button>
                            {% if Tasks.Important == True %}
                                <li style="color: #b11d1d; display: inline-block;">{{ Tasks.description }}</li>

                                {#   Update task#}
                                <form style="display: inline-block" action="{% url 'update_goal' Tasks.id %}"
                                      method="get">
                                    <button ><img class="button_image_style"
                                                               src="/staticfiles/images/edit-Icon.png"
                                                               alt="Edit button"></button>
                                </form>

                                {# Delete task  #}
                                <form style="display: inline-block" action="{% url 'delete_task' Tasks.id %}"
                                      method="get">
                                    <button type="submit"><img class="button_image_style"
                                                               src="/staticfiles/images/delete-icon.png"
                                                               alt="Delete button "></button>
                                </form>

                            {% else %}
                                <li class="task-desc" style="display: inline-block">{{ Tasks.description }}</li>

                                {#                                    Update task#}
                                <form style="display: inline-block" action="{% url 'update_goal' Tasks.id %}"
                                      method="get">
                                    <button type="submit"><img class="button_image_style"
                                                               src="/staticfiles/images/edit-Icon.png"
                                                               alt="Edit button"></button>
                                </form>

                                {# Delete task  #}
                                <form style="display: inline-block" action="{% url 'delete_task' Tasks.id %}"
                                      method="get">
                                    <button type="submit"><img class="button_image_style"
                                                               src="/staticfiles/images/delete-icon.png"
                                                               alt="Delete button "></button>
                                </form>

                            {% endif %}

                        {% endif %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>




{#------------ Update Goals -------------------#}
{#----- pop up --------#}
<dialog id="updateGoals" class="modal" open = "open">
    <div class="modal-box">
        {# ---- Update Form -----  #}
        <h3>Edit Goal</h3> {# Title #}
        <form method="post" autocomplete="off" >
    {% csrf_token %}
    {{ UpdateGoalsform.as_p }}{# form displaying #}
    <button type="submit">Update</button>
</form>

      <div class="modal-action">
            <form method="get" action="{% url 'Todo_list' %}">
                <button >Back</button>
            </form>
        </div>

    </div>

</dialog>

</body>
</html>