{% load static %}{# allows css to work #}
{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Weekly schedule</title>
    <link rel="stylesheet" href="{% static 'css/weeklySchedule_style.css ' %}">
    {# link to styling #}
</head>
<body>
<div class="main_content">
    <h1>Weekly Schedule</h1>

    <!-- add new event pop up button -->
    <button class="btn" onclick="newEvents.showModal()">Add New Event</button>

    <!-- Delete event pop up button -->
    <button class="btn" onclick="deleteEvents.showModal()">Delete Event</button>

 <!-- Update event pop up button -->
    <button class="btn" onclick="updateEvents.showModal()">Update Event</button>


    {# ---------------- Next and previous days ----------------------#}

    <form action="{% url 'next_' %}" method="get">
        <button type="submit">Next</button>
    </form>
    <form action="{% url 'prev' %}" method="get">
        <button type="submit">Previous</button>
    </form>

    {# ---------------- Week name display ----------------------#}
    <div class="container">
        <div class="weekName">
            <p>{{ weekDay|date:"l d" }}</p>{# day of the week 1 #}
        </div>

        <div>
            <p>{{ weekDay2|date:"l d" }}</p>{# day of the week #}
        </div>
        <div>
            <p>{{ weekDay3|date:"l d" }}</p>{# day of the week #}
        </div>

        {#------------------  Display events in respective columns -------------------------#}
        {#    Current day events #}
        <div class="day1EventDisplay">
            {% for Events in day1_events %}
                <!-- checkboxes for the events -->
                {% if Events.is_completed == True %}
                   <button onclick="location.href='{% url 'toggle_event' Events.id %}'"
                           class="action-link">☑</button>
                    <b><s>{{ Events.event_name }}</s></b>
                    <br><s>{{ Events.description }}</s><br>
                {% else %}
                   <button onclick="location.href='{% url 'toggle_event' Events.id %}'"
                           class="action-link">☐</button>
                    <b>{{ Events.event_name }}</b>
                    <br>{{ Events.description }}<br>
                {% endif %}
            {% endfor %}
        </div>

        {# Next day events #}
        <div class="day2EventDisplay">
            {% for Events in day2_events %}
                <!-- checkboxes for the events -->
                {% if Events.is_completed == True %}
                   <button onclick="location.href='{% url 'toggle_event' Events.id %}'"
                           class="action-link">☑</button>
                    <b><s>{{ Events.event_name }}</s></b>
                    <br><s>{{ Events.description }}</s><br>
                {% else %}
                   <button onclick="location.href='{% url 'toggle_event' Events.id %}'"
                           class="action-link">☐</button>
                    <b>{{ Events.event_name }}</b>
                    <br>{{ Events.description }}<br>
                {% endif %}
            {% endfor %}
        </div>

        {#  Third day events  #}
        <div class="day3EventDisplay">
            {% for Events in day3_events %}
                <!-- checkboxes for the events -->
                {% if Events.is_completed == True %}
                   <button onclick="location.href='{% url 'toggle_event' Events.id %}'"
                           class="action-link">☑</button>
                    <b><s>{{ Events.event_name }}</s></b>
                    <br><s>{{ Events.description }}</s><br>
                {% else %}
                   <button onclick="location.href='{% url 'toggle_event' Events.id %}'"
                           class="action-link">☐</button>
                    <b>{{ Events.event_name }}</b>
                    <br>{{ Events.description }}<br>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{#------------ Add new event -------------------#}
{#----- pop up --------#}
<dialog id="newEvents" class="modal">
    <div class="modal-box">
        {# ---- list Form -----  #}
        <h3>Add Event</h3> {# Title #}
        <form method="post" action="{% url 'add_event'%}">
            {% csrf_token %}
            {{ event_form.as_p }}
            <input type="submit">
        </form>

        <div class="modal-action">
            <form method="dialog">
                <button class="btn">Close</button>
            </form>
        </div>
    </div>
</dialog>


{#------------ Update event -------------------#}
{#----- pop up --------#}
<dialog id="updateEvents" class="modal">
    <div class="modal-box">

        {# --------- Update Form -----  #}
        <h3>Update Event</h3> {# Title #}
        {% for Events in all_events %}
            <br>
            {{ Events.event_name }}
            <br>{{ Events.description }}<br>
            <a href="{% url 'updateEvent' Events.id %}" class="action-link">Update</a>
        {% endfor %}
        <div class="modal-action">
            <form method="dialog">
                <button class="btn">Close</button>
            </form>
        </div>
    </div>
</dialog>

{#------------ Delete event -------------------#}
{#----- pop up --------#}
<dialog id="deleteEvents" class="modal">
    <div class="modal-box">

        {# --------- list Form -----  #}
        <h3>Delete Event</h3> {# Title #}
        {% for Events in all_events %}
            <br>
            {{ Events.event_name }}
            <br>{{ Events.description }}<br>
            <a href="{% url 'deleteEvent' Events.id %}" class="action-link">Delete</a>
        {% endfor %}
        <div class="modal-action">
            <form method="dialog">
                <button class="btn">Close</button>
            </form>
        </div>
    </div>
</dialog>


</body>
</html>