{% load static %}{# allows css to work #}
{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Weekly schedule</title>
    <link rel="stylesheet" href="{% static 'css/weeklySchedule_style.css ' %}">
    <link rel="stylesheet" href="{% static 'css/common_style.css ' %}">
    {# link to styling #}
</head>
<body>
<div class="main_content">
    <h1>Weekly Schedule</h1>

    <!-- add new event pop up button -->
    <button class="btn" onclick="newEvents.showModal()">Add New Event</button>


    <!-- Update event pop up button -->
{#    <button class="btn" onclick="updateEvents.showModal()">Update Event</button>#}


    {# ---------------- Next and previous days ----------------------#}

    <form action="{% url 'next_' %}" method="get">
        <button type="submit">Next</button>
    </form>
    <form action="{% url 'prev' %}" method="get">
        <button type="submit">Previous</button>
    </form>

    {# ---------------- Week name display ----------------------#}
    <div class="container">
        <div class="weekName">
            <p>{{ weekDay|date:"l d" }}</p>{# day of the week 1 #}
        </div>

        <div>
            <p>{{ weekDay2|date:"l d" }}</p>{# day of the week #}
        </div>
        <div>
            <p>{{ weekDay3|date:"l d" }}</p>{# day of the week #}
        </div>

        {#------------------  Display events in respective columns -------------------------#}
        {#    Current day events #}
        <div id="day1EventDisplay" class="day1EventDisplay">
            {% for Events in display_events.day1_events %}
{#                id="eventBoxes"#}
                <br> <b  class="eventBoxes" style="display: inline-block">{{ Events.event_name }}</b>{# Buttons to delete and update#}

                {#   Update events#}
                <form style="display: inline-block" action="{% url 'updateEvent' Events.id %}" method="get">
                    <button type="submit"><img class="button_image_style" src="/staticfiles/images/edit-Icon.png" alt="Edit button"></button>
                </form>

                {# Delete Events  #}
                <form  action="{% url 'deleteEvent' Events.id %}" onclick="return confirm('Are you sure you want to delete this event?');" style="display: inline-block"  method="get">

                    <button type="submit"><img class="button_image_style" src="/staticfiles/images/delete-icon.png" alt="Delete button "></button>
                </form>

                <br class="eventBoxes">{{ Events.description }}<br>


                {#   Right click menu #}
                <div id="EventRightClickMenu" class="EventRightClickMenu" >
                    <ul>
                        <li><a href="{% url 'updateEvent' Events.id %}">Edit</a></li>
                        <li><a href="{% url 'deleteEvent' Events.id %}" onclick="return confirm('Are you sure you want to delete this event?');">Delete</a></li>
                        <li><a href="#">View More</a></li>
                    </ul>

                </div>

            {% endfor %}
        </div>

        {# Next day events #}
        <div class="day2EventDisplay">
            {% for Events in display_events.day2_events %}
                <br> <b>{{ Events.event_name }}</b>

                {#   Update events#}
                <form style="display: inline-block" action="{% url 'updateEvent' Events.id %}" method="get">
                    <button type="submit"><img class="button_image_style" src="/staticfiles/images/edit-Icon.png" alt="Edit button"></button>
                </form>

                {# Delete Events  #}
                <form style="display: inline-block" action="{% url 'deleteEvent' Events.id %}" onclick="return confirm('Are you sure you want to delete this event?');" method="get">
                    <button type="submit"><img class="button_image_style" src="/staticfiles/images/delete-icon.png" alt="Delete button "></button>
                </form>

                <br>{{ Events.description }}<br>










            {% endfor %}
        </div>

        {#  Third day events  #}
        <div class="day3EventDisplay">

            {% for Events in display_events.day3_events %}
                <br> <b>{{ Events.event_name }}</b>

                {#   Update events#}
                <form style="display: inline-block" action="{% url 'updateEvent' Events.id %}" method="get">
                    <button type="submit"><img class="button_image_style" src="/staticfiles/images/edit-Icon.png" alt="Edit button"></button>
                </form>

                {# Delete Events  #}
                <form style="display: inline-block" action="{% url 'deleteEvent' Events.id %}" onclick="return confirm('Are you sure you want to delete this event?');" method="get">
                    <button type="submit"><img class="button_image_style" src="/staticfiles/images/delete-icon.png" alt="Delete button "></button>
                </form>

                <br>{{ Events.description }}<br>
            {% endfor %}

        </div>
    </div>
</div>

{#------------ Add new event -------------------#}
{#----- pop up --------#}
<dialog id="newEvents" class="modal">
    <div class="modal-box">
        {# ---- list Form -----  #}
        <h3>Add Event</h3> {# Title #}
        <form method="post" action="{% url 'add_event' %}">
            {% csrf_token %}
            {{ event_form.as_p }}
            <input type="submit">
        </form>

        <div class="modal-action">
            <form method="dialog">
                <button class="btn">Close</button>
            </form>
        </div>
    </div>
</dialog>


{#------------ Update event -------------------#}
{#----- pop up --------#}
<dialog id="updateEvents" class="modal">
    <div class="modal-box">

        {# --------- Update Form -----  #}
        <h3>Update Event</h3> {# Title #}
       <form method="post" autocomplete="off" >
    {% csrf_token %}
    {{ event_form.as_p }}
    <button type="submit">Update</button>
</form>
        <div class="modal-action">
            <form method="dialog">
                <button class="btn">Close</button>
            </form>
        </div>
    </div>
</dialog>



<script src="{% static 'javascript/RighClickMenu_script.js' %}" defer></script>

</body>
</html>