body {
    background-color: #F3D1B5;
}

/*Makes everything in the body fit in the middle and not be hidde behind nav bar*/
.center_calendar {
    margin-left:15%;
    padding:16px 16px;/* top padding, left side padding*/
    height:100px;
}

.calendar_box {
    margin: 20px auto;
    max-width: 1300px;
}

/* month title */
.calendar_box > h2 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding: 6px;
    color: #254B5B;
}

/*days and numbers*/
.grid_box {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    border: 3px solid #254B5B;
    padding: 10px;
    background-color: #566B72;
    /*days of the week text*/
    text-align: center;
    color: white;
    font-size: 20px;
}

/* days of the month */
.day {
    padding-bottom: 100px;
    padding-right: 5px;
    padding-top: 5px;
    border: 3px solid #254B5B;
    text-align: right;
    background-color: #ADB9BC;
    color: #254B5B;
    list-style-type: none;
}

.highlight {
    background-color: #E68E77;
    border: 3px solid #D05E43;
    color: #254B5B;
}

/* buttons */
button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #ADB9BC;
}

button[type="button"]:hover {
    background-color: #E68E77;
}

button[type="submit"]:hover {
    background-color: #E68E77;
}

/* view more button */
/*is styled within line 75 of calendar_script*/

/*styling for the content inside of the view event details widget*/
#view_event_details h3 {
    font-size: 40px;
    justify-self: center;
}

#view_event_details h2 {
    font-weight: bold;
    font-size: 28px;
    justify-self: center;
}

#view_event_details p {
    font-size: 18px;
}

/*styling for each individual event being displayed in the daycell boxes*/
.event_as_button {
    padding: revert;
    border-radius: revert;
    margin: revert;
}

