/*Makes everything in the body fit in the middle and not be hidde behind nav bar*/
.center_journal {
    margin-left: 15%;
    padding: 16px 16px; /* top padding, left side padding*/
    height: 100px;
}

body {
    background-color: #F3D1B5;
}

a {
    text-decoration: none;
}

/* --------buttons-------- */
button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #ADB9BC;
}

button[type="button"]:hover {
    background-color: #E68E77;
}

button[type="submit"]:hover {
    background-color: #E68E77;
}

.container {
    position: relative;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
}

/* -------------form styling------------ */
.form1 > form {
    position: absolute;
    top: 20%;
    left: 23%;
    margin-top: 30px;
}

.form1 > form textarea {
    height: 23px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    resize: vertical;
}

.form1 > textarea {
    overflow: hidden; /*hides the scroll bar*/
}

