 .a {
            text-decoration: none;
            font-size: 30px;
        }

 /*----------------   Home and log out button text ------------*/
 .topNav {
  overflow: hidden;
  background-color: #207971;
     height: 80px;/*height of top nav*/
}
/*nav text styling*/
.topNav a {
 float: left;
  color: #ffffff;/*white*/
  text-align: center;
  padding: 30px 25px;/*text height, text side padding*/
  text-decoration: none;
  font-size: 17px;
}

/*Hover colours*/
.topNav a:hover {
  background-color: #93cbec;/*hover colour*/
  color: #637920;/*regular colour*/
}

/*move logout to the right*/
.topNav-right {
  float: right;
}


/* --------------------------- Side navigation bar ---------------------------------*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 14%;/*width of side nav box*/
  background-color: #ba16a4;/* box colour*/
  position: fixed;
  height: 100%;
  overflow: auto;
}

/*Side nav text styling*/
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/*When on tab*/
li a.active {
  background-color: #5faa04;
  color: white;
}

/*When not on tab*/
li a:hover:not(.active) {
  background-color: #b11d1d;
  color: white;
}

/*Makes everything in the body fit in the middle and not be hidde behind nav bar*/
.main_body{
    margin-left:20%;
    padding:16px 16px;/* top padding, left side padding*/
    height:1000px
}