/** --------------------------- Side navigation bar ---------------------------------*!*/
.sideNav {
  display: block;

  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 14%;/*width of side nav box*/
  background-color: #aab8bb;/* box colour*/
  position: absolute;/* make it stay at the top*/
  height: 100%;
  overflow: auto;
/*@@ -25,94 +20,95 @@*/
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 30px;
}
/*Side nav text styling*/
li a {
  display: block;
  color: #660000;
  padding: 8px 16px;
  text-decoration: none;
}

/*When on tab*/
li a.active {
  background-color: #5faa04;
  color: white;
}

/*When not on tab*/
li a:hover:not(.active) {
  background-color: #1e9d87;
}

/*Makes everything in the body fit in the middle and not be hidde behind nav bar*/

.main_content{
    margin-left:20%;
    padding:16px 16px;/* top padding, left side padding*/
    height:100px;

}

/*body{*/
/*    overflow-y: hidden;!*makes it not possible to scroll*!*/
/*    overflow-x: hidden;!*makes it not possible to scroll*!*/


/* ------------------- Responsive nav bar -----------------------------*/
/* Hamburger nav bar*/
.navdiv {
    background: #3C5473;
    padding-right: 15px;
    padding: 23px;
}
.default_nav {
    display: grid;
    grid-template-columns: auto auto auto 1fr auto;
    grid-template-areas: ". . . . contact";
    align-items: center;
    justify-content: space-between;
}
.default_nav > a {
    color: #F2F2F2;
    font-size: 28px;
    margin-right: 30px;
    margin-left: 30px;
    text-decoration: none;
    font-family: "Cabin Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.contact {
    grid-area: contact;
}

/*/MOBILE NAVBAR/*/
.mobile_nav {
    grid-column: span 2;
    animation: appear 1s;
}
.hidden {
    display: none;
}
.mobile_nav > a {
    display: block;
    background: #A8B2BF;
    padding: 10px;
}
.mobileShow {
    display: none;
}


.notification-container {
    position: relative;
    display: inline-block;
    margin-right: 15px;
}

.notification-dropdown {
    display: none;
    position: fixed;
    top: 80px; /* Adjust based on your navbar height */
    right: 20px;
    width: 300px;
    max-height: 400px;
    background-color: #e59a83;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(206, 94, 68);
    z-index: 1000;
    overflow-y: auto;
}

.notification-item {
    padding: 20px;
    border-bottom: 1px solid #b58282;
      display: inline-block;

}

.notification-badge {
    top: -5px;
    right: -5px;
    background-color: #e28c77;
    color: #ffffff;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 10px;
}



/*Hides and shows nav bars*/
@media all and (max-width: 1000px) {
    .mobileHide { /* Hide top nav*/
        display: none;
    }

    .mobileShow { /* Show responsive hamburger top nav*/
        display: block;

    }

    .sideNav { /* Hide side nav*/
        display: none;
    }

    .main_content {
        margin-left: 1%;
        padding: 00px 10px; /* top padding, left side padding*/
        height: 00px;
    }

}