 .a {
            text-decoration: none;
            font-size: 30px;
        }
 .topNav {
  overflow: hidden;
  background-color: #207971;
}
/*nav text styling*/
.topNav a {
  float: left;
  color: #ffffff;/*white*/
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topNav a:hover { /*hover colour*/
  background-color: #93cbec;
  color: #207971;
}

.topNav a.active { /*non hover colour*/
  background-color: #207971;
  color: #ffffff;
}

/*move logout to the right*/
.topNav-right {
  float: right;
}