.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 100px;
    max-width: 940px;
    word-wrap: break-word; /*wraps words*/

    /*    scrolling*/
    height: 100%;
    grid-template-rows: 50px 400px;

}

.container > div {
    background-color: #f1f1f1;
    border: 1px solid black;
    padding-left: 10px;
    right: 10px;
    /*font-size: 30px;*/
    text-align: center;
}

.weekName {
    text-justify: auto;
    grid-column: 1/2;
    grid-row: 1;
}

.day1EventDisplay {
    grid-column: 1; /*column start*/
    grid-row: 2 / 6; /*row start and end*/
    overflow: auto; /*makes it scrollable when too big*/
}


.day2EventDisplay {
    grid-column: 2; /*column start*/
    grid-row: 2 / 6; /*row start and end*/
    overflow: auto; /*makes it scrollable when too big*/

}

.day3EventDisplay {
    grid-column: 3; /*column start*/
    grid-row: 2 / 6; /*row start and end*/
    overflow: auto; /*makes it scrollable when too big*/

}

.important_colour {
    color: #b11d1d;
}

.modal {
    width: 500px; /*change modal/box size*/
}


/*-------------- Right click custom context menu ----------------------*/
.EventRightClickMenu {
    width: 200px;
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.3);
    display: none;
    /*opacity: 0;*/
    /*pointer-events: none;*/
    position: fixed;
    /*position: relative;*/

    transition: opacity 500ms ease;

}

.EventRightClickMenu.active {
    display: block; /*show menu*/
    /*opacity: 1;*/
    /*pointer-events: auto;*/
    /*position: relative;*/

}


.EventRightClickMenu ul li a {
    text-decoration: none;
    display: inline-block;

    padding: 20px 32px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    color: black;

    box-sizing: border-box;
    border-bottom: 1px solid #000000;
    border-left: 4px solid transparent;

    background: white;

    transition: all 400ms ease;

}

.EventRightClickMenu ul li a:hover {
    background: #20AB93;
    border-left: 4px solid #b11d1d;
}

.EventRightClickMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.eventBoxes{
    color: black;
}










